---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import "../styles/main.css";
---

<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content={title}>
		<meta name="description" content={description}>
		<meta name="author" content="Wilbur Williams">
		<meta name="og:title" content={title}>
		<meta name="og:description" content={description}>
		<meta name="fediverse:creator" content="@wilbur@wetdry.world">
		<title>{title}</title>
		<link rel="dns-prefetch" href="https://assets.c48.uk">
		<link rel="preconnect" href="https://assets.c48.uk">
		<link rel="preconnect" href="https://assets.c48.uk" crossorigin>
		<link rel="preload" href="/assets/background.png" as="image">
		<link rel="icon" type="image/png" href="/assets/icon.png">
	</head>
	<body>
		<div class="nav">
			<button id="sidenavbtn"><span class="fa-bars fa-solid"></span></button>
			<div class="sidenav" id="sidenav">
				<a href="/">Main</a>
				<a href="/projects/">Projects</a>
				<a href="/mirrors/">Mirrors</a>
				<a href="/blog/">Blog</a>
				<a href="/about/">About This</a>
				<a href="/newtab/">Newtab</a>
				<a href="/HTML2/">HTML2</a>
				<a href="/HTML3/">HTML3</a>
				<a href="/HTML4/">HTML4</a>
				<a href="https://eyescary.uk">EyeScary</a>
				<a href="/specs/">Tech Specs</a>
				<a href="/software/">Software Setup</a>
				<a href="/domains/">Domains</a>
				<a href="/archive/">Archive</a>
			</div>
		</div>
		<div class="main" id="main">
			<slot />
		</div>
		<div id="keys-container"></div>
		<script src="../scripts/layout.ts"></script>
		<script is:inline async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	</body>
</html>